body{
    background: rgb(151, 94, 103);
    font: normal 15pt Arial;
}

header{
    color: #fff;
    text-align: center;
}

section{
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px #00000049;
}

footer{
    color: #fff;
    font-style: italic;
    text-align: center;
}